app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/parameters.yml
app/config/parameters.yml.dist
vendor
composer.phar
composer.lock
.project
/bin
/web/bundles
/web/uploads
/.buildpath
/.settings
/UPGRADE-2.2.md
/UPGRADE-2.3.md
/UPGRADE.md
.elasticbeanstalk/
