@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../../../fonts/codropsicons/codropsicons.eot');
	src:url('../../../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../../../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../../../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

html, body
{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #F2F2F2;
	color: #fff;
	font-weight: 300;
	height:100%
}

.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"]
{
	font-family: 'Lato', Calibri, Arial, sans-serif;
}


.djip {
  height:300px;
  width:300px;
  text-align:center; /* centrage horizontal */
  cursor:pointer;
  z-index:10;
  margin-right:20px;

}

.djip-top {
  height:50%;
  line-height:150px;
  text-align:center; /* centrage horizontal */
  
  color:white; 
  font-size:28px; 
  text-align:center;
  line-height:150px;
}

.djip-top-text { 
  width:200px; /* largeur zone de texte */
  vertical-align:middle;
  display:inline-block;
  line-height:1.2; /* on rétablit le line-height */
  text-align:left; /* ... et l'alignement du texte */
}

.djip-bottom { 
  font-size:22px;
  height:48%;
  background-color:#F9F9F9; 

  text-align:center;
  line-height:150px;
}

.djip-background{
	width:100%;
	height:98%;
	display:inline-block;
	color:white; 
    font-size:20px; 
    text-align:center;
    line-height:150px;

}

.djip-background-text{
	width:200px; /* largeur zone de texte */
  	vertical-align:middle;
  	display:inline-block;
  	line-height:1.2; /* on rétablit le line-height */
  	text-align:left; /* ... et l'alignement du texte */
}


#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 95;
}
.popup_block{
	display:none; /*--masqué par défaut--*/
	background-color:#F9F9F9;
	padding: 20px;
	box-shadow: 0px 0px 40px #87E3E7;
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	height:700px;
	z-index: 110;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.btn_close {
	float: right;
	margin: -55px -55px 0 0;
}

/*--Gérer la position fixed pour IE6--*/
*html #fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}

.caption:hover > div {
    opacity: 0.3;
}


.footer{
	height: 60px;
	background-color: #eeA23e;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary 
{
     color: white;
     border-radius: 4px;
     text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
        background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
